doctype html
html
  head
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    title= 'NumbersCheck'

    script(type='text/javascript', src="/node_modules/jquery/dist/jquery.js")
    script(type='text/javascript', src='/js/kamera.js')
    script(type='text/javascript', src='/node_modules/socket.io-client/dist/socket.io.js')
    link(rel='stylesheet', href='/css/kamera.css')
  body
    block content
